<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436273728560-qlpa4ndologbcur5euksrnb2g9k4nh2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436273728560-qlpa4ndologbcur5euksrnb2g9k4nh2s</string>
	<key>API_KEY</key>
	<string>AIzaSyCKja7X8G77Oj9pkDEwTOaJTYn-YKUCUek</string>
	<key>GCM_SENDER_ID</key>
	<string>436273728560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.7rl.HSE</string>
	<key>PROJECT_ID</key>
	<string>my-awesome-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-awesome-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436273728560:ios:d061b70257e90abdfc31f5</string>
</dict>
</plist>